.search {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  box-shadow: 0px 8px 10px 0px rgba(254, 238, 66, 0.8);
  z-index: 999;
  background: linear-gradient(
    /* 315deg, */
    rgba(15, 124, 249, 0.7) 3%,
    rgba(11, 69, 243, 0.7) 38%,
    rgba(34, 92, 239, 0.7) 68%,
    rgba(106, 8, 235, 0.7) 98%
  );
}

.input {
  width: 300px;
  height: 30px;
  padding: 5px 5px 5px 15px;
  font-size: 16px;
  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.input::placeholder {
  font-size: 16px;
  color: #02788a;
  opacity: 0.7;
}

.btnSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  cursor: pointer;
}

.btnSubmit:hover,
.btnSubmit:focus {
  background-color: rgba(255, 255, 126, 1);
}

.fcSearch {
  padding: 10px;
}